body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 5px;
    padding: 10px;
    border: 2px solid red;
  }
  
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  h2 {
    font-size: 28px;
    margin: 20px 0;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .sticky-nav {
    position: sticky;
    top: 0;
    z-index: 999;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .container p {
    font-size: 14px;
    margin: 0;
    text-align: center;
  } 
  form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 150px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

input[type="submit"],
input[type="reset"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #555;
}
  