// _footer.scss

// Estilos para el pie de página
footer {
    background-color: $secondary-color;
    color: white;
    padding: $spacing-unit * 2;
  
    .contact-info {
      font-size: $base-font-size;
      margin-bottom: $spacing-unit;
    }
  
    .social-links {
      margin-top: $spacing-unit * 2;
  
      a {
        color: white;
        margin-right: $spacing-unit;
        font-size: 20px;
  
        &:hover {
          color: $accent-color;
        }
      }
    }
  
    .copyright {
      font-size: $base-font-size;
      margin-top: $spacing-unit * 2;
    }
  }
  