// _header.scss
/* Estilos para el menú de navegación */
nav {
    background: linear-gradient(to bottom, #333, #555); /* Gradiente de color */
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
  }
  
  /* Estilos para los enlaces del menú */
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s ease; /* Transición de color al pasar el cursor */
  }
  
  nav a:hover {
    color: #f2c039; /* Color al pasar el cursor */
  }
  
  /* Estilos para el botón del menú en dispositivos móviles */
  .navbar-toggler-icon {
    background-color: #fff;
  }
  
  /* Estilos para el fondo del menú en dispositivos móviles al expandirse */
  .collapse.navbar-collapse.show {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
  }
header {
    background-color: $primary-color;
    color: white;
    padding: 20px;
  
    .logo {
      font-size: 24px;
      font-weight: bold;
      // Estilos para el logo
    }
  
    .navbar {
      ul {
        list-style: none;
        display: flex;
        align-items: center; // Centrar verticalmente
        margin: 0;
        padding: 0;
  
        li {
          margin-right: 20px;
          // Estilos para cada elemento del menú
        }
      }
  
      .hamburger-menu {
        display: none; // Por defecto, ocultar el menú hamburguesa en pantallas grandes
      }
    }
  }
  
  // Estilos específicos para el menú hamburguesa
  @media (max-width: 768px) {
    .navbar {
      ul {
        display: none; // Ocultar la lista de navegación en pantallas pequeñas
  
        &.active {
          display: flex; // Mostrar la lista de navegación al hacer clic en el icono hamburguesa
          flex-direction: column;
          background-color: rgba(0, 0, 0, 0.8);
          position: absolute;
          top: 60px;
          left: 0;
          width: 100%;
          padding: 20px;
        }
  
        li {
          margin: 10px 0;
        }
      }
  
      .hamburger-menu {
        display: block; // Mostrar el icono hamburguesa en pantallas pequeñas
        font-size: 24px;
        cursor: pointer;
      }
    }
  }
  